<%= form_with(model: user, class: "flex flex-col items-center justify-start pt-8") do |f| %>

  <%= render partial: "shared/errors", locals: { active_record_obj: user, model: :user } %>

  <div class="mb-4 w-full md:w-1/3">
    <%= f.label :username, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.text_field :username, autofocus: true, placeholder: "Choose a username (max. 25 chars)", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4 w-full md:w-1/3">
    <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.email_field :email, placeholder: "Your primary email address", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4 w-full md:w-1/3">
    <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4 w-full md:w-1/3">
    <%= f.label :password_confirmation, "Re-type your password", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.password_field :password_confirmation, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div>
    <% submit_text = user.new_record? ? "Register" : "Update Profile" %>
    <%= f.submit submit_text, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
  </div>
<% end %>