<h1><%= @user.username %></h1>

<p>
  <%= @user.email %>
</p>

<div>
  <%= link_to 'Edit profile', edit_user_path(@user) %>
  <%= link_to "Delete account", user_path(@user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>

<div>
  <%= link_to "Add todo", new_todo_path %>
</div>

<div>
  <%= link_to "Logout", logout_path, data: { turbo_method: :delete } %>
</div>