<%= form_with(model: todo, class: "flex flex-col items-center justify-start pt-8") do |f| %>
  
  <%= render partial: "shared/errors", locals: { todo: todo } %>

  <div class="mb-4 w-full md:w-1/3">
    <%= f.label :title, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.text_field :title, autofocus: true, placeholder: "What do you want to do?", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div>
    <%= f.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>

<% end %>