<!DOCTYPE html>
<html>
  <head>
    <title>TodoManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <nav>
        <ul>
          <li>
            <%= link_to "Home", root_path %>
          </li>

          <% if logged_in? %>
            <li>
              <%= link_to "Dashboard #{ current_user.username }", user_path(current_user) %>
            </li>
            <li>
              <%= link_to "My Todos", todos_path %>
            </li>
            <li>
              <%= link_to "Logout", logout_path, data: { turbo_method: :delete } %>
            </li>
          <% else %>
            <li>
              <%= link_to "Register", register_path %>
            </li>
            <li>
              <%= link_to "Login", login_path %>
            </li>
          <% end %>

          

        </ul>
      </nav>
    </div>

    <% flash.each do |message_type, message| %>
      <% if message_type == "notice" %>
        <div class="bg-green-500 text-white text-center p-4">
          <%= message %>
        </div>
      <% else %>
        <div class="bg-red-500 text-white text-center p-4">
          <%= message %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>

  </body>
</html>
